.head-section .line {
  width: 10px;
  height: 35px;
  background-color: rgba(219, 68, 68, 1);
  padding: 10px;
  border-radius: 4px;
}
.countdown-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-left: 40px;
}


@media (max-width:555px){
    .countdown-timer{
        flex-direction: column;
        margin-left: 0;
        gap:0;
        align-items: flex-start;
    }
    .countdown-timer .dot{
        display: none;
    }
}

